sms/code3/php_webservice/lib/a.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.139130.net" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.139130.net" name="WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.139130.net" schemaLocation="http://211.147.239.62:8500/Service/WebService.asmx?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="GetMOMessage">
<part name="parameters" element="tns:GetMOMessage"></part>
</message>
<message name="GetMOMessageResponse">
<part name="parameters" element="tns:GetMOMessageResponse"></part>
</message>
<message name="GetBusinessType">
<part name="parameters" element="tns:GetBusinessType"></part>
</message>
<message name="GetBusinessTypeResponse">
<part name="parameters" element="tns:GetBusinessTypeResponse"></part>
</message>
<message name="GetAccountInfo">
<part name="parameters" element="tns:GetAccountInfo"></part>
</message>
<message name="GetAccountInfoResponse">
<part name="parameters" element="tns:GetAccountInfoResponse"></part>
</message>
<message name="ModifyPassword">
<part name="parameters" element="tns:ModifyPassword"></part>
</message>
<message name="ModifyPasswordResponse">
<part name="parameters" element="tns:ModifyPasswordResponse"></part>
</message>
<message name="Post">
<part name="parameters" element="tns:Post"></part>
</message>
<message name="PostResponse">
<part name="parameters" element="tns:PostResponse"></part>
</message>
<message name="PostSingle">
<part name="parameters" element="tns:PostSingle"></part>
</message>
<message name="PostSingleResponse">
<part name="parameters" element="tns:PostSingleResponse"></part>
</message>
<message name="PostMass">
<part name="parameters" element="tns:PostMass"></part>
</message>
<message name="PostMassResponse">
<part name="parameters" element="tns:PostMassResponse"></part>
</message>
<message name="PostGroup">
<part name="parameters" element="tns:PostGroup"></part>
</message>
<message name="PostGroupResponse">
<part name="parameters" element="tns:PostGroupResponse"></part>
</message>
<message name="GetResponse">
<part name="parameters" element="tns:GetResponse"></part>
</message>
<message name="GetResponseResponse">
<part name="parameters" element="tns:GetResponseResponse"></part>
</message>
<message name="GetReport">
<part name="parameters" element="tns:GetReport"></part>
</message>
<message name="GetReportResponse">
<part name="parameters" element="tns:GetReportResponse"></part>
</message>
<message name="FindResponse">
<part name="parameters" element="tns:FindResponse"></part>
</message>
<message name="FindResponseResponse">
<part name="parameters" element="tns:FindResponseResponse"></part>
</message>
<message name="FindReport">
<part name="parameters" element="tns:FindReport"></part>
</message>
<message name="FindReportResponse">
<part name="parameters" element="tns:FindReportResponse"></part>
</message>
<message name="SetMedias">
<part name="parameters" element="tns:SetMedias"></part>
</message>
<message name="SetMediasResponse">
<part name="parameters" element="tns:SetMediasResponse"></part>
</message>
<portType name="WebServiceSoap">
<operation name="GetMOMessage">
<input message="tns:GetMOMessage"></input>
<output message="tns:GetMOMessageResponse"></output>
</operation>
<operation name="GetBusinessType">
<input message="tns:GetBusinessType"></input>
<output message="tns:GetBusinessTypeResponse"></output>
</operation>
<operation name="GetAccountInfo">
<input message="tns:GetAccountInfo"></input>
<output message="tns:GetAccountInfoResponse"></output>
</operation>
<operation name="ModifyPassword">
<input message="tns:ModifyPassword"></input>
<output message="tns:ModifyPasswordResponse"></output>
</operation>
<operation name="Post">
<input message="tns:Post"></input>
<output message="tns:PostResponse"></output>
</operation>
<operation name="PostSingle">
<input message="tns:PostSingle"></input>
<output message="tns:PostSingleResponse"></output>
</operation>
<operation name="PostMass">
<input message="tns:PostMass"></input>
<output message="tns:PostMassResponse"></output>
</operation>
<operation name="PostGroup">
<input message="tns:PostGroup"></input>
<output message="tns:PostGroupResponse"></output>
</operation>
<operation name="GetResponse">
<input message="tns:GetResponse"></input>
<output message="tns:GetResponseResponse"></output>
</operation>
<operation name="GetReport">
<input message="tns:GetReport"></input>
<output message="tns:GetReportResponse"></output>
</operation>
<operation name="FindResponse">
<input message="tns:FindResponse"></input>
<output message="tns:FindResponseResponse"></output>
</operation>
<operation name="FindReport">
<input message="tns:FindReport"></input>
<output message="tns:FindReportResponse"></output>
</operation>
<operation name="SetMedias">
<input message="tns:SetMedias"></input>
<output message="tns:SetMediasResponse"></output>
</operation>
</portType>
<binding name="WebServiceSoapBinding" type="tns:WebServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="GetMOMessage">
<soap:operation soapAction="http://www.139130.net/GetMOMessage"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetBusinessType">
<soap:operation soapAction="http://www.139130.net/GetBusinessType"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetAccountInfo">
<soap:operation soapAction="http://www.139130.net/GetAccountInfo"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ModifyPassword">
<soap:operation soapAction="http://www.139130.net/ModifyPassword"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="Post">
<soap:operation soapAction="http://www.139130.net/Post"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="PostSingle">
<soap:operation soapAction="http://www.139130.net/PostSingle"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="PostMass">
<soap:operation soapAction="http://www.139130.net/PostMass"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="PostGroup">
<soap:operation soapAction="http://www.139130.net/PostGroup"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetResponse">
<soap:operation soapAction="http://www.139130.net/GetResponse"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="GetReport">
<soap:operation soapAction="http://www.139130.net/GetReport"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="FindResponse">
<soap:operation soapAction="http://www.139130.net/FindResponse"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="FindReport">
<soap:operation soapAction="http://www.139130.net/FindReport"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="SetMedias">
<soap:operation soapAction="http://www.139130.net/SetMedias"></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebService">
<port name="WebServiceSoap" binding="tns:WebServiceSoapBinding">
<soap:address location="http://211.147.239.62:8500/Service/WebService.asmx"></soap:address>
</port>
</service>
</definitions>